{{!-- <div class="user">
  <header class="user__header">
    <img
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg"
      alt=""
    />  
    <h1 class="user__title">A lightweight and simple sign-up form</h1>
  </header>

  <form class="form">
    <div class="form__group">
      <input type="text" placeholder="Username" class="form__input" />
    </div>

    <div class="form__group">
      <input type="email" placeholder="Email" class="form__input" />
    </div>

    <div class="form__group">
      <input type="password" placeholder="Password" class="form__input" />
    </div>

    <button class="btn" type="button">Register</button>
  </form>
</div> --}}

    <div class="form">
      <div class="title">Welcome</div>
      <div class="subtitle">Let's create your account!</div>
      <div class="input-container ic1">
        <input id="name" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="name" class="placeholder">Name</label>
      </div>
      <div class="input-container ic2">
        <input id="email" class="input" type="text" placeholder=" " />
        <div class="cut cut-short"></div>
        <label for="email" class="placeholder">Email</>
      </div>
      <div class="input-container ic2">
        <input id="password" class="input" type="text" placeholder=" " />
        <div class="cut cut-short"></div>
        <label for="password" class="placeholder">Password</>
      </div>
      <button type="text" class="submit">Create</button>
    </div>


  {{!-- <form class="login-form" action="javascript:void(0);">
  <h1>Login</h1>
  <div class="form-input-material">
    <input type="text" name="username" id="username" placeholder=" " autocomplete="off" class="form-control-material" required />
    <label for="username">Username</label>
  </div>
  <div class="form-input-material">
    <input type="password" name="password" id="password" placeholder=" " autocomplete="off" class="form-control-material" required />
    <label for="password">Password</label>
  </div>
  <button type="submit" class="btn btn-primary btn-ghost">Login</button>
</form> --}}