<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Best Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../css/login.css" rel="stylesheet" />
  <link href="../../css/header.css" rel="stylesheet">
  <link href="../../css/index.css" rel="stylesheet">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" media="screen and (max-width:768px)" href="../../css/mobile.css">
  <script>var exports = {"__esModule": true};</script>
</head>
<body class="{{template}}">
  <div class="layout">
     {{> header}}  
	   {{{body}}}
  </div>
  <script src="scripts/bundle.js"></script>
</body>
</html>