<header class="header">
    <h1 class="logo">Homestay</h1>
    <ul class="nav-list" >
        <li><a href="/register">Profile</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/user/me">Signup</a></li>
    </ul>
</header>